/* Element stying */
body {
	font-family: arial;
	background-color: #ddd;
	color: #900;
}
li {
	padding: 5px;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c00;
	background-color: #bbb;
	border-radius: 4px;
}
a {
	text-decoration: none;
	color: #944;
	font-style: italic;
}
a:hover {
	text-decoration: underline;
}
/* Main styling */
.topBar {
	background-color: #ccc;
	margin-left: -8px;
	margin-top: -21px;
	margin-right: -8px;
}
.splashBar {
	background-color: #bbb;
	margin-left: -8px;
	margin-top: -22px;
	margin-right: -8px;
}
.buttonBar {
	background-color: #aaa;
	margin-left: -8px;
	margin-top: -22px;
	margin-right: -8px;
}
.anotherBar {
	background-color: #bbb;
	margin-left: -8px;
	margin-top: -22px;
	margin-right: -8px;
	color: #a00;
}
.mainBar {
	background-color: #ccc;
	margin-left: -8px;
	margin-top: -22px;
	margin-right: -8px;
	color: #c00;
}
/* Special styling */
.center {
	text-align: center;
}
.btn {
	display:inline-block;
	font-style: normal;
	text-decoration: none;
	border: none;
	padding: 12px 30px;
	margin: 2px;
	cursor: pointer;
	font-size: 20px;
	transition: .5s;
}
.btn:hover {
	text-decoration: none;
}
.btnRed {
	background-color: #900;
	color: #ddd;
}
.btnRed:hover {
	background-color: #600;
	color: #aaa;
}
.btnDiscord {
	background-color: #7581DD;
}
.btnDiscord:hover {
	background-color: #4551AD;
}
.btnYllw {
	background-color: #aa0;
	color: #333;
}
.btnYllw:hover {
	background-color: #660;
	color: #aaa;
}
.noDec {
	text-decoration: none;
	font-style: normal;
}
.noDec:hover {
	text-decoration: none;
	font-style: normal;
}
.bnr {
	opacity: .7
}
