body {
	font-family: arial;
}
.center {
	text-align: center;
}
a {
	text-decoration: none;
	color: #944;
}
.link{
	font-style: italic;
}
.link:hover {
	text-decoration: underline;
}
.btn {
	background-color: #900;
	border: none;
	color: #ddd;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
	transition: .5s;
}
.btn:hover {
	background-color: #600;
	color: #aaa;
}
.btnDiscord {
	background-color: #7581DD;
	border: none;
	cursor: pointer;
	font-size: 20px;
	transition: .5s;
}
.btnDiscord:hover {
	background-color: #4551AD;
}
.btnYllw {
	background-color: #aa0;
  border: none;
  color: #333;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  transition: .5s;
}
.btnYllw:hover {
	background-color: #660;
	color: #aaa;
}
li {
	padding: 5px;"
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c00;
	background-color: #161616;
	border-radius: 4px
}