code {
	padding: 2px 4px;
	font-size: 90%;
	background-color: #f0f0f0;
	border-radius: 4px;
}

.clickArea {
	position: absolute;
	background: rgba(255, 255, 0, 0.5);
}
.configDiv {
	float: right;
	padding-top: 40px;
}
.preview {
	position: absolute;
	width: 256px;
}
.icon {
	position: absolute;
}
.output {
	position: absolute;
	left: 270px;
}
.saveButton {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
