<footer class="bg-dark">
	<div class="container">
		<div class="row pb-3">
			<div class="col-sm-10">
				<p class="text-light">
					By: <a href="https://github.com/Epicpkmn11" class="link">Pk11</a> .o/<br>
					Published with <a href="https://pages.github.com">GitHub Pages</a>, view <a href="https://github.com/{{ site.repo }}">the source</a> on GitHub.<br>
					{% if page.show_version %}
						Version: <a href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}">{{ site.github.build_revision | | truncate: 7, "" }}</a>
					{% endif %}
				</p>
			</div>
			<div class="col-sm-2">
				<label for="themeSelector" class="text-light">Color scheme:</label>
				<select id="themeSelector" class="form-select form-select-dark text-light" onchange="setTheme(value)">
					<option value="default">Default</option>
					<option value="dark">Dark</option>
					<option value="light">Light</option>
				</select>
			</div>
		</div>
	</div>
</footer>
