---
---

body {
	color: #ccc;
	background-color: #333;
}

h1, h2, h3, h4, h5, h6 {
	color: #ddd;
}

blockquote {
	color: #999;
	border-left: 3px solid #3f3f3f;
}

code {
	color: #ddd;
	background-color: #3f3f3f;
}
