---
---

// For the bottom aligned footer
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
	padding-top: 20px;
}

h2 {
	border-bottom: 1px solid #bbb;
}

blockquote {
	color: #666;
	margin-bottom: 20px;
	padding: 0 0 0 20px;
	border-left: 3px solid #bbb;
}

code {
	color: #333;
	background-color: #ddd;
	padding: 3px;
	border-radius: 0.25rem;
}

// .a is for making other things look like <a>s
a, .a {
	text-decoration: underline;
	color: inherit;
	font-weight: bold;
	cursor: pointer;
}
a:hover, .a:hover {
	color: gray;
}

small {
	font-size: 75%;
	color: gray;
}

.button {
	text-decoration: none;
	margin: 5px;
	z-index: 10;
}

// Override bootstraps primary color
.bg-primary {
	background-color: {{ page.color | default: site.color }}!important;
}
.btn-primary, .btn-primary:focus {
	color: rgba(0, 0, 0, 0.7);
	background-color: {{ page.color | default: site.color }}!important;
	border-color: {{ page.color | default: site.color }}!important;
}
.btn-primary:hover, .btn-primary:active {
	color: rgba(0, 0, 0, 0.7);
	opacity: 0.8;
}
.btn-outline-primary {
	color: {{ page.color | default: site.color }};
	border-color: {{ page.color | default: site.color }};
}
.btn-outline-primary:hover, .btn-outline-primary:active {
	background-color: {{ page.color | default: site.color }};
	border-color: {{ page.color | default: site.color }};
}
.text-primary {
	background-color: {{ page.color | default: site.color }}!important;
}

// No underline on navbar links
.navbar-light a {
	text-decoration: none;;
}

// Dim navbar-brand on hover
.navbar-light a.navbar-brand:hover {
	opacity: 0.5;
}

// Override nav-link color
.navbar-light .nav-link {
	color: rgba(0, 0, 0, 0.7)!important;
}
.navbar-light .nav-link:hover {
	color: rgba(0, 0, 0, 0.5)!important;
}

// And the active nav-link color
.navbar-light .nav-link.active {
	color: rgba(0, 0, 0, 1)!important;
}
.navbar-light .nav-link.active:hover {
	color: rgba(0, 0, 0, 0.6)!important;
}

// Make dropdowns site-colored and animated
.dropdown-menu, .dropdown .hover-content {
	background-color: {{ page.color | default: site.color }};
    -webkit-transition: 300ms;
    transition: 300ms;
    display: block;
	height: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
}
.dropdown-menu.show, .dropdown:hover .hover-content {
	height: auto;
	padding: 0.5rem 0;
	visibility: visible;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
	background-color: rgba(0, 0, 0, 0.2);
	color: #16181b;
}

// Make images smaller
.img-small {
	max-width: 250px;
	max-height: 250px;
}

.btn-change-theme {
	position: absolute;
	right: 5px;
	margin-right: 0;
	font-size: 8pt;
	padding: 5px;
}

// text-dark that I dont override
.text-dark-always {
	color: #343a40!important;
}
